.container {
    width: 1170px;
    margin-top: 35px;
}
.abc {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    margin-left: 80px;
}
.formContainer{
    position: relative;
    margin-top: 30px;
}
.bcd{
    margin-top: 30px;
    margin-left: 175px;  
}
.def{
    display: inline-block;
    text-align: center;
}
.form-control{
    width:340px;
}
.container {
    padding-left: 85px;
}